{% extends 'base.html' %}

{% load static %}

{% block content %}


<h3 class="text-center mb-4">Checklist RELUCI</h3>


{% for item in itens %}
<div class="mb-4">

    {% if item.grupos.all %}

    <h4 class="ml-4">{{ item.codigo }} - {{ item.nome }}</h4>
    <div class="row mt-3 ">
        <div class="col-12">
            <div class="accordion" id="accordion{{item.id}}">
                <div class="card">
                    {% for grupo in item.grupos.all %}
                    <div class="card-header" id="heading{{ grupo.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapse{{ grupo.id }}" aria-expanded="true"
                                    aria-controls="collapse{{ grupo.id }}">
                                <h5 class="m-0">{{ grupo.get_codigo_completo }} - {{ grupo.nome }}</h5>
                            </button>
                        </h2>
                    </div>

                    <div id="collapse{{ grupo.id }}" class="collapse" aria-labelledby="heading{{ grupo.id }}"
                         data-parent="#accordion{{ item.id }}">

                        <table class="table">
                            {% for ponto in grupo.pontos.all %}
                            <tr>
                                <td class="px-5">
                                    <button class="btn" type="button"
                                        data-toggle="collapse" data-target="#collapsePt{{ ponto.get_codigo_completo|cut:'.' }}"
                                        aria-expanded="false" aria-controls="collapsePt{{ ponto.get_codigo_completo|cut:'.' }}">
                                    {{ ponto.get_codigo_completo }} - {{ ponto.nome }}
                                    </button>

                                    <div class="collapse" id="collapsePt{{ ponto.get_codigo_completo|cut:'.' }}">
                                      <div class="card card-body mt-3">
                                          {% include 'reluci/relato_ponto_controle.html' %}
                                      </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}


{% endblock content %}