{% extends 'base.html' %}

{% load static %}

{% block content %}

<h3 class="text-center mb-4">Checklist RELUCI</h3>


{% for item_abordagem in itens_abordagem %}
<div class="mb-4">

    {% if item_abordagem.itens_gestao.all %}

    <h4 class="ml-4">{{ item_abordagem.codigo }} - {{ item_abordagem.nome }}</h4>
    <div class="row mt-3 ">
        <div class="col-12">
            <div class="accordion" id="accordion{{item_abordagem.id}}">
                <div class="card">
                    {% for item_gestao in item_abordagem.itens_gestao.all %}
                    <div class="card-header" id="heading{{ item_gestao.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapse{{ item_gestao.id }}" aria-expanded="true"
                                    aria-controls="collapse{{ item_gestao.id }}">
                                <h5 class="m-0">{{ item_gestao.get_codigo_completo }} - {{ item_gestao.nome }}</h5>
                            </button>
                        </h2>
                    </div>

                    <div id="collapse{{ item_gestao.id }}" class="collapse" aria-labelledby="heading{{ item_gestao.id }}"
                         data-parent="#accordion{{ item_abordagem.id }}">

                        <table class="table">
                            {% for ponto in item_gestao.pontos.all %}
                            <tr>
                                <td class="px-3">
                                    <button class="btn" type="button"
                                        data-toggle="collapse" data-target="#collapsePt{{ ponto.get_codigo_completo|cut:'.' }}"
                                        aria-expanded="false" aria-controls="collapsePt{{ ponto.get_codigo_completo|cut:'.' }}">
                                    {{ ponto.get_codigo_completo }} - {{ ponto.nome }}
                                    </button>


                                    <div class="collapse" id="collapsePt{{ ponto.get_codigo_completo|cut:'.' }}">
                                        {% if not ponto.sub_pontos_controle.all %}
                                          <div class="card card-body mt-3">
                                              {% include 'reluci/atividades.html' %}
                                          </div>
                                        {% else %}
                                          <div class="sub-ponto-controle mt-2 px-3">
                                              {% include 'reluci/sub_ponto_controle.html' %}
                                          </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}


        <!-- MODAL -->
<div class="modal fade" id="modal-checklist">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

{{ block.super }}

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'apps/reluci/ponto-controle.js' %}" type="text/javascript" charset="utf-8"></script>

{% endblock %}