{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="offset-2 col-8">
    <h3 class="text-center mb-4">Checklist RELUCI</h3>

    {% include 'reluci/lista_item_abordagem.html' %}

    <!-- MODAL -->
    <div class="modal fade" id="modal-checklist">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

{{ block.super }}

<script src="{% static 'apps/reluci/ponto-controle.js' %}" type="text/javascript" charset="utf-8"></script>

{% endblock %}