{% for item_gestao in item_abordagem.itens_gestao.all %}
<div class="card-header d-flex justify-content-between" id="heading{{ item_gestao.id }}">
    <div>
        <h2 class="mb-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapse{{ item_gestao.id }}" aria-expanded="true"
                    aria-controls="collapse{{ item_gestao.id }}">
                <h5 class="m-0">{{ item_gestao.get_codigo_completo }} - {{ item_gestao.nome }}</h5>
            </button>

        </h2>
    </div>
    <div class="w-25 align-self-center progress">
        <div class="progress-bar bg-success" role="progressbar"
             style="width: {{ item_gestao.percentual }}%;"
             aria-valuenow="{{ item_gestao.percentual }}" aria-valuemin="0"
             aria-valuemax="100">{{ item_gestao.percentual }}%
        </div>

    </div>
</div>

<div id="collapse{{ item_gestao.id }}" class="collapse"
     aria-labelledby="heading{{ item_gestao.id }}"
     data-parent="#accordion{{ item_abordagem.id }}">

    {% include 'reluci/lista_ponto_controle.html' %}

</div>
{% endfor %}