<table class="table">

    {% for ponto in item_gestao.pontos.all %}
    <tr>
        <td class="px-3">
            <div class="d-flex justify-content-between">
                <div>
                    <button class="btn btn-sm" type="button"
                            data-toggle="collapse"
                            data-target="#collapsePt{{ ponto.get_codigo_completo|cut:'.' }}"
                            aria-expanded="false"
                            aria-controls="collapsePt{{ ponto.get_codigo_completo|cut:'.' }}">

                        <h6 class="pl-2 align-self-center">
                        {{ ponto.get_codigo_completo }} - {{ ponto.nome }}
                        </h6>

                    </button>

                    {% if ponto.get_status_detail %}
                    <span class="badge badge-warning">Não iniciado</span>
                    {% endif %}
                </div>
                <div class="align-self-end">
                    <a type="button"
                       class="btn btn-primary btn-sm btnModal"
                       href="{% url 'ponto_controle_detail' ponto.pk %}">
                        <i class="fa fa-eye"></i>
                        Analisar
                    </a>
                </div>
            </div>

            <div class="collapse" id="collapsePt{{ ponto.get_codigo_completo|cut:'.' }}">
                {% if not ponto.sub_pontos_controle.all %}
                <div class="tarefas mt-2 px-3">
                    {% include 'reluci/lista_tarefa_ponto_controle.html' %}
                </div>
                {% else %}
                <div class="sub-ponto-controle mt-2 px-3">
                    {% include 'reluci/sub_ponto_controle.html' %}
                </div>
                {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>