<ul class="list-unstyled">
    {% for sub_ponto in ponto.sub_pontos_controle.all %}
    <li>

        <button type="button" class="btn">
            {{ sub_ponto.get_codigo_completo }} - {{ sub_ponto.nome }}
        </button>
        <table class="table">
            {% for tarefa in sub_ponto.tarefas.all %}
            <tr>
                <td class="px-3">
                    <button class="btn" type="button"
                            data-toggle="collapse" data-target="#collapseTf{{ tarefa.get_codigo_completo|cut:'.' }}"
                            aria-expanded="false" aria-controls="collapseTf{{ tarefa.get_codigo_completo|cut:'.' }}">
                        {{ tarefa.codigo }}. {{ tarefa.descricao }}
                    </button>

                    <div class="collapse" id="collapseTf{{ tarefa.get_codigo_completo|cut:'.' }}">
                        {% for atividade in tarefa.atividades.all %}
                        <ul class="list-unstyled mt-2">
                            <li class="mt-2 pl-4">
                                <i class="fa fa-check"></i>
                                {{ atividade.descricao }}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </li>
    {% endfor %}
</ul>

