<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
      <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; 2020-2022</small>
      </div>
      <div class="col-6 col-md">
          <h5>Integrações</h5>
          <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Sigefes</a></li>
              <li><a class="text-muted" href="#">Siga</a></li>
              <li><a class="text-muted" href="#">Siarhes</a></li>
          </ul>
      </div>
      <div class="col-6 col-md">
          <h5>Recursos</h5>
          <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Controle Interno</a></li>
              <li><a class="text-muted" href="#">Processos</a></li>
          </ul>
      </div>
      <div class="col-6 col-md">
          <h5>Sobre</h5>
          <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Time</a></li>
          </ul>
      </div>
  </div>
</footer>