{% extends 'base.html' %}

{% block content %}

<div class="offset-1 col-10">
    <div class="pricing-header px-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4">SESP - Integrando o ES</h1>
        <p class="lead">Integrando os diversos sistemas do Estado do Espírito Santo com intuito de promover a eficácia
            do
            serviço público.</p>
    </div>


    <h3 class="text-center mb-4">Relatórios</h3>

    <div class="card-deck mb-3 text-center">

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">RELUCI</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Descrição do que se trata o relatório</li>
                </ul>
                <a type="button" class="btn btn-lg btn-block btn-primary" href="{% url 'checklist_reluci'%}">Acessar</a>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">ÍNDICE GERAL DE DESEMPENHO DA GESTÃO</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Segregação de Função</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Acessar</button>
            </div>
        </div>


    </div>


    {% include 'footer.html' %}

</div>
{% endblock content %}

