<!-- Sidebar Holder -->
<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <h3>UECI Integrador</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Pontos de Controle</p>
        {% for item_abordagem in itens_abordagem %}
        {% for item_gestao in item_abordagem.itens_gestao.all %}
        {% for ponto in item_gestao.pontos.all %}

        <li>
            <a href="{% url 'ponto_controle_detail' ponto.pk %}">{{ ponto.get_codigo_completo }}</a>
        </li>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        <!--        <li >-->
        <!--            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>-->
        <!--            <ul class="collapse list-unstyled" id="homeSubmenu">-->
        <!--                <li>-->
        <!--                    <a href="#">Home 1</a>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </li>-->
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="/" class="download">Home</a>
        </li>
    </ul>
</nav>