{% extends 'base_modal.html' %}

{% block content_modal %}

<form method="post" action="{% url 'analise_ponto_controle_create' ponto_controle_id %}" class="js-ponto-controle-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Análise do Ponto Controle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'reluci/ponto-controle/cria_ponto_controle_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

{% endblock content_modal %}

