{% for analise in ponto_controle.analises.all %}
<tr>
    <td>{{ analise.criado|date:'d/m/y' }}</td>
    <td>{{ analise.user }}</td>
    <td>{{ analise.get_status_display }}</td>
    <td>{{ analise.get_classificacao_display }}</td>
    <td>
        <button class="btn btn-success btn-sm js-update-analise-ponto-controle"
            type="button" data-url="{% url 'analise_ponto_controle_update' analise.id %}">
            <i class="fa fa-search"></i>
        </button>
    </td>
</tr>
{% endfor %}
