{% for tarefa in ponto_controle.tarefas.all %}
<div class="card w-100">
    <div class="card-header d-flex justify-content-between" id="heading{{ tarefa.codigo }}">

        <button class="btn text-justify" data-toggle="collapse"
                data-target="#collapse{{ tarefa.codigo }}"
                aria-expanded="true" aria-controls="collapse{{ tarefa.codigo }}">
            <i class="fa fa-sort-down"></i>
        </button>

        <button class="btn bt-outline text-truncate">
            <span class="text-dark ">
                <strong class="mr-2">{{ tarefa.codigo }}.</strong>
                {{ tarefa.descricao }}<span>
        </button>
    </div>

    <div id="collapse{{ tarefa.codigo }}" class="collapse"
         aria-labelledby="heading{{ tarefa.codigo }}"
         data-parent="#accordion-tarefas">
        <div class="card-body">
            {% if tarefa.observacoes_tarefa.all %}
            {% for observacao in tarefa.observacoes_tarefa.all %}

            <div class="d-flex justify-content-between">
                <h5><small>Autor: </small>{{ observacao.user }}</h5>
                <small class="text-muted">{{ observacao.data_criacao|date:'d/m/yy' }}</small>
            </div>
            <p>{{ observacao|safe }}</p>
            <hr>

            {% endfor %}
            {% else %}
            <p>Ainda não foram feitas observações desta tarefa.</p>
            {% endif %}
        </div>
    </div>
</div>

{% for atividade in tarefa.atividades.all %}
<div class="card w-100">
    <div class="card-header d-flex justify-content-between" id="heading{{ atividade.codigo }}">
        <h5 class="mb-0">
            <button class="btn" data-toggle="collapse"
                    data-target="#collapse{{ atividade.codigo }}"
                    aria-expanded="true" aria-controls="collapse{{ atividade.codigo }}">
                <i class="fa fa-sort-down"></i>

            </button>
            <button class="btn bt-outline text-truncate">
                <strong class="ml-4 mr-2">{{ atividade.codigo }}. </strong>
                {{ atividade.descricao}}
            </button>
        </h5>
    </div>

    <div id="collapse{{ atividade.codigo }}" class="collapse"
         aria-labelledby="heading{{ atividade.codigo }}"
         data-parent="#accordion-tarefas">
        <div class="card-body">
            {% if atividade.observacoes_atividade.all %}
            {% for observacao in atividade.observacoes_atividade.all %}
            <div class="d-flex justify-content-between">
                <h5><small>Autor: </small>{{ observacao.user }}</h5>
                <small class="text-muted">{{ observacao.data_criacao|date:'d/m/yy' }}</small>
            </div>
            <p>{{ observacao|safe }}</p>
            <hr>
            {% endfor %}
            {% else %}
            <p>Ainda não foram feitas observações desta atividade</p>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endfor %}