{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>

    <div class="row my-4">

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Tarefas</h4>

                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Tarefa</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tarefa in ponto_controle.tarefas.all %}
                            <tr>
                                <td>{{ tarefa.codigo }}</td>
                                <td>{{ tarefa.descricao }}</td>
                                <td>{{ tarefa.status }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Análise</h4>

                    <div class="table-responsive">
                        <form method="post" action="{% url 'analise_ponto_controle_create' ponto_controle.id %}">

                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

{% endblock content %}