{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">

    <div class="row justify-content-end mr-1 mb-2">
        <a class="btn btn-warning btn-sm"
           target="_blank"
           href="{% url 'folha_trabalho_pdf' ponto_controle.id %}">
            <i class="fa fa-print mr-2"></i>
            Imprimir
        </a>
    </div>

    <div class="row mb-4">

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Tarefas</h4>

                    <div class="table-responsive">
                        <ul>
                            {% for tarefa in ponto_controle.tarefas.all %}
                            <li>{{ tarefa.descricao }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-4">

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="header-title mb-3">Análise</h4>
                        <div>
                            <button class="btn btn-primary btn-sm js-create-analise-ponto-controle"
                                    type="button"
                                    data-url="{% url 'analise_ponto_controle_create' ponto_controle.id %}">
                                <i class="fa fa-plus"></i>
                                Nova
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive m-t-40">
                        <table cellpadding="0" cellspacing="0" border="0" id="analise-ponto-controle-table"
                               class="display nowrap table table-hover table-striped table-bordered dataTable">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Usuário</th>
                                <th>Status</th>
                                <th>Classificação</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'reluci/ponto-controle/lista_analise_ponto_controle_parcial.html' %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}


{% block scripts %}

{{ block.super }}

<script src="{% static 'apps/reluci/ponto-controle.js' %}" type="text/javascript" charset="utf-8"></script>

{% endblock %}